@import "tailwindcss";
@tailwind utilities;

@layer{
    html, body{
        @apply overflow-hidden h-screen w-screen p-0 m-0;
    }
}

@theme{
    --color-base:#A5D6A7;
    --color-head:#2E7D32;
    --color-para:#1B5E20;
    --color-btn:#C8E6C9;

    --color-menu:#66BB6A;
    --color-mentxt:#1B5E20;
    --color-menico:#2E7D32;
    --color-menhov:#81C784;
    --color-link:#0096C7;
    --color-btntxt:#A5D6A7;
}

.clip-image{
    background: url("../public/pns-home.jpg");
    background-size:cover;
    animation: animate 3s ease-in-out alternate-reverse;
}

@keyframes animate{
    0%{
        clip-path: circle(100% at 50% 50%);
    }
    25%{
        clip-path: circle(25% at 50% 50%);
    }
    50%{
        clip-path: circle(25% at 20% 80%);
    }
    75%{
        clip-path: circle(25% at 80% 20%);
    }
    100%{
        clip-path: circle(25% at 80% 80%);
    }
}

